**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/creating-reading-and-writing).**

---

# Introduction

The first step in most data analytics projects is reading the data file. In this exercise, you'll create Series and DataFrame objects, both by hand and by reading data files.

Run the code cell below to load libraries you will need (including code to check your answers).

In [1]:
import pandas as pd
print("Setup complete.")

Setup complete.

# Exercises

## 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [4]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruits.
fruits = pd.DataFrame({"Apples":[30],"Bananas":[21]})
fruits

   Apples  Bananas
0      30       21

In [5]:
fruits = pd.DataFrame([[30,21]],columns=['Apples','Bananas'])
fruits

   Apples  Bananas
0      30       21

## 2.

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

In [7]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruit_sales.
fruits = pd.DataFrame([[35,21],[41,34]],columns=["Apples","Bananas"],index=["2017 Sales","2018 Sales"])
fruits

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [ ]:
#q2.hint()
#q2.solution()

## 3.

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [10]:
ingredients = pd.Series(["4 cups","1 cup","2 large","1 can"],index=["Flour","Milk","Eggs","Spam"],name="Dinner")
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

## 4.

Read the following csv dataset of wine reviews into a DataFrame called `reviews`:

![](https://i.imgur.com/74RCZtU.png)

The filepath to the csv file is `../input/wine-reviews/winemag-data_first150k.csv`. The first few lines look like:

```
,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,"This tremendous 100% varietal wine[...]",Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and[...]",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,,Tinta de Toro,Bodega Carmen Rodríguez
```

In [12]:
reviews = pd.read_csv("/content/sample_data/winemag-data-130k-v2.csv", index_col = 0)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12944,France,"The Côte du Py, one of the best cru vineyard s...",Côte du Py Vieilles Vignes,94,24.0,Beaujolais,Morgon,NaN,Roger Voss,@vossroger,Stéphane Aviron 2014 Côte du Py Vieilles Vigne...,Gamay,Stéphane Aviron
12945,France,Be grateful that Stéphane Aviron is an old-vin...,Vieilles Vignes,94,24.0,Beaujolais,Moulin-à-Vent,NaN,Roger Voss,@vossroger,Stéphane Aviron 2014 Vieilles Vignes (Moulin-...,Gamay,Stéphane Aviron
12946,US,As the Stolpman family's top-of-the-line bottl...,Angeli,94,68.0,California,Ballard Canyon,Central Coast,Matt Kettmann,@mattkettmann,Stolpman 2014 Angeli Syrah (Ballard Canyon),Syrah,Stolpman
12947,US,Hailing from a precipitously perched vineyard ...,Diamond T Vineyard,94,52.0,California,Monterey,Central Coast,Matt Kettmann,@mattkettmann,Talbott 2014 Diamond T Vineyard Pinot Noir (Mo...,Pinot Noir,Talbott
12948,Austria,"The tanginess of grapefruit peel, paired with ...",Loibenberg Smaragd,94,39.0,Wachau,NaN,NaN,Anne Kreb,NaN,NaN,NaN,NaN

## 5.

Run the cell below to create and display a DataFrame called `animals`:

In [13]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In the cell below, write code to save this DataFrame to disk as a csv file with the name `cows_and_goats.csv`.

In [15]:
# Your code goes here

animals.to_csv("cows_and_goats.csv")

# Keep going

Move on to learn about **[indexing, selecting and assigning](https://www.kaggle.com/residentmario/indexing-selecting-assigning)**.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*