# DataTypes

## List

In [ ]:
myList = [1,22,33,44,5] 

myList[:-2] #slicing

#list(range(5,15))

del myList[2]

myList.reverse()
myList

pow2 = [2 ** x for x in range(10)]
pow2

pow2 = []

for x in range(10):
   pow2.append(2**x)

for i in myList:
    print(i)

In [ ]:
persons = [[],[]]

persons[0].append(input("Enter person1 name"))
persons[0].append(int(input("Enter person1 age")))
persons[0].append(int(input("Enter person1 ID")))
persons[1].append(input("Enter person2 name"))
persons[1].append(int(input("Enter person1 age")))
persons[1].append(int(input("Enter person2 ID")))

persons

## Tuple

In [ ]:
myTuple = (1,"Ayberk",3.14,[1,8,3])
myTuple

x = list(myTuple)
x[1] = "Erkan"
myTuple = tuple(x)

myTuple

a , b, c , d = myTuple
myTuple[3][2]
myTuple[-2:]

del myTuple[3] # gives error! CRUD NEED TO CAST TO LIST
myTuple

In [ ]:
myTuple.count("Erkan")
myTuple.index([1,8,3])

In [ ]:
"Erkan" in myTuple

for i in myTuple:
    print(i)

In [ ]:
y = tuple(2 ** x for x in range(10))
y

In [ ]:
a = int (input("Amount of nubers"))

tup1 = ()

for i in range (a):
    x = list(tup1)
    x.append(int(input(f"Enter number {i}: ")))
    tup1 = tuple(x)

sum = 0
for i in range (a):
    sum += tup1[i]

sum/a

## Strings

In [ ]:
name = "Ayberk"

name2 = """dsfsdfsdfsd
fsdfsdfsdfsdfsdf
sdfsdfsdfsdfsdfsdf
sdfsd """

print(name2)

In [ ]:
str = "Erkan"
str[2]

str[1:3]

a = str.replace('k','A')
a

del a

In [ ]:
str1 = "Ayberk"
str2 = "Erkan"

str1 * 3

In [ ]:
x = input("Enter a string: ")
letter = input("Enter a letter: ")
counter = 0
for i in x:
    if i == letter:
        counter += 1
counter

In [ ]:
x.count(letter)

## SET

In [ ]:
mySet = {1,2,3}
myList = []
myTuple = ()

mySet

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

set1.union(set2)
set1.intersection(set2)

set1 & set2
set1 | set2

set1 - set2

set1.difference(set2)

set1 ^ set2

# for i in set1:
#     print(i)

sorted(set1)

## Dictionary

In [ ]:
my_dict = {}

my_dict = {1:"Ayberk","Key2":"Erkan"}
my_dict.get("Key2")
list(my_dict.items())
list(my_dict.values())

my_dict[1] = "Erkan"
my_dict

my_dict.pop(1)
my_dict

In [ ]:
squares = {x: x*x for x in range(10)}
squares

7 in squares

for i in squares:
    print(i)

In [27]:
x = {}

x[5] = "Ayberk"
x["Erkan"] = 25

x.pop("Erkan")
x[5] = "Ali"
x

{5: 'Ali'}