<a href="https://colab.research.google.com/github/sanoxy/Workspace/blob/main/Pandas/Ders5/exercise_data_types_and_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/data-types-and-missing-values).**

---

# Introduction

Run the following cell to load your data and some utility functions.

In [1]:
import pandas as pd

reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)

print("Setup complete.")

Setup complete.

# Exercises

## 1. 
What is the data type of the `points` column in the dataset?

In [2]:
# Your code here
reviews.points.dtype

dtype('int64')

## 2. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [3]:
reviews.points.astype(str)

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

## 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [4]:
len(reviews[reviews.price.isnull()])

reviews.price.isnull().sum()

pd.isnull(reviews.price).sum()

8996

## 4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [7]:
clean_data = reviews.region_1.fillna("unknown").value_counts().sort_values(ascending=True)
clean_data

Paestum                     1
Isle St. George             1
Corton Perri√®res            1
Offida Rosso                1
Clairette de Die            1
                        ...
California               2629
Russian River Valley     3091
Columbia Valley (WA)     4124
Napa Valley              4480
unknown                 21247
Name: region_1, Length: 1230, dtype: int64