<a href="https://colab.research.google.com/github/sanoxy/Workspace/blob/main/Python/Ders7/ders7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Openin file
f = open("test.txt")

In [ ]:
#Closing file
f.close()

In [ ]:
with open("test.txt",'w',encoding='utf-8') as f:
  f.write("Test 123")
  f.write("Test 321")
  f.write("\nTest 456")

In [ ]:
f = open("test.txt",'r',encoding='utf-8')
f.read()

In [ ]:
f.seek(0)
for line in f:
  print(line)

In [ ]:
f.close()
with open("TestErkan.txt","w") as ff:
  ff.write("Erkan1\n")
  ff.write("Ozcan")

In [ ]:
f = open("TestErkan.txt",'r',encoding='utf-8')

In [ ]:
f.read()

In [ ]:
f.seek(0)
for line in f:
  print(line, end = '')

In [ ]:
f.seek(0)

In [ ]:
print(f.readline())
print(f.readline())
f.close()

In [ ]:
f = open("TestErkan.txt",'a',encoding='utf-8')
f.write("\nAyberk")
f.close()

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
os.chdir('/content/sample_data')

In [ ]:
os.listdir()

In [ ]:
f = open("README.md")
f.read()

In [ ]:
os.mkdir("test")

In [ ]:
os.rename("test","new_test")

In [ ]:
os.rmdir("new_test")

In [ ]:
with open('myfile.txt', 'w') as fp:
    fp.write("Hello")

In [ ]:
5/0

In [ ]:
import sys

randomList = ['a',0,2]

for entry in randomList:
  try:
    print("The entry is: " , entry)
    r = 1/int(entry)
    print("Ans = " + str(r))
    break
  except:
    print(sys.exc_info()[0], " occured")
    print()

In [ ]:
while True:
  try:
    number1 = int(0)
    number2 = int(input("Enter second number:"))
    print(number1/number2)
    break
  except ValueError:
    print("ValueError") 
  except ZeroDivisionError:
    print("Cannot divide by 0")

In [ ]:
number1 = int(input("Enter first number:"))

if number1 % 2 == 0:
  raise ValueError

In [ ]:
try:
  num = int(input("Enter a num: "))
  assert num % 2 == 0
except:
  print("Not an even number!")
else:
  ans = 1/num
  print(ans)

In [ ]:
try:
  f = open("test.txt",encoding="utf-8")
  # code
finally:
  f.close()

In [ ]:
class CustomError(Exception):
  pass

In [ ]:
num = int(input("Enter a num: "))

if num > 5:
  raise CustomError("Cannot be greater than 5")

In [ ]:
class InvalidRangeException(Exception):
  pass

In [ ]:
num = int(input("Enter a number:"))
if not (num>10 and num<20):
  raise InvalidRangeException("Number is supposed to be between 10 and 20")

In [ ]:
class SalaryNotInRangeError(Exception):
  def __init__(self, salary, message="Salary is not in 1000-5000 range"):
    self.salary = salary
    self.message = message
    super().__init__(self.message)

In [ ]:
salary = int(input("Enter salary amount: "))
if not 1000 < salary < 5000:
  raise SalaryNotInRangeError(salary)

In [27]:
class Parrot:
  # class attribute
  species = "bird"

  def __init__(self, name, age):
    self.name = name
    self.age = age

In [28]:
blu = Parrot("Blu",15)
woo = Parrot("Woo",25)

In [29]:
print("Woo Name: " , woo.name)
print("Woo Age: " , woo.age)
print("Woo Type: ", woo.species)


print("Blu Name: " , blu.name)
print("Blu Age: " , blu.age)
print("Blu Type: ", blu.species)

Woo Name:  Woo
Woo Age:  25
Woo Type:  bird
Blu Name:  Blu
Blu Age:  15
Blu Type:  bird

In [30]:
class Student:
  def __init__(self,name,ID):
    self.name = name
    self.ID = ID
  
  def printInfo(self):
    print("Student Name: ", self.name)
    print("Student ID: ", self.ID)

In [31]:
ayberk = Student("Ayberk",20)
erkan = Student("Erkan",25)

ayberk.printInfo()
erkan.printInfo()

Student Name:  Ayberk
Student ID:  20
Student Name:  Erkan
Student ID:  25