In [ ]:
number = 10
number = 1.1

print(number)

In [ ]:
name = "Ayberk"
name1 = "Erkan"

print(name+' '+name1)

In [1]:
a, b, c = 5, 3.2, "Hello"

print(a)
print(c)
print(b)

5
Hello
3.2

In [2]:
PI = 3.14

a = 0b1010
b = 100
c = 0o310
d = 0x12c

float_1 = 10.5
float_2 = 1.5e2 

x = 3.14j

name = "Ayberk"
char = "C"

mls = """sdgfsgsdgsdg
sdgsdgsdgsdg
sdgsdgsdgsdg
sdgsdgsdg
sdgdsg"""

unicodestr = u"\u00dcnic\u00f6de"
unicodestr

x = 1 == 1
y = (1 == 2)
y

False

In [ ]:
a  = 5
b = 5.5
c = 5j

In [3]:
# lÄ±st
a = [1, 2.2, "Python",55,"Ayberk",54,"Erkan"]
a[:-2] #slicing [x:y]

# tuple
t = (5,"programmer",6.7)

ret = list(t)
ret[2] = 6.0
t = tuple(ret)

t

(5, 'programmer', 6.0)

In [4]:
#strings

s = "Hello World!"

s[:5]
s = s.upper()
s.count("L")

3

In [6]:
a = {1,2,3,4,5,3}

{1, 2, 3, 4, 5}

In [13]:
d = {1:'value','key':2}
d.values()
d.keys()

d['key']


int(5.999)

5

In [15]:
print ('merhaba')


num = int(input("Enter a number"))
type(num)

merhaba

ValueError: invalid literal for int() with base 10: 'dsgsdgsdg'

In [63]:
name = input("Enter name: ")
age = int(input("Enter age: "))

print ('My name is ' + name +'. I\'m ' + str(age) + ' years old.')

My name is Erkan. I'm 51 years old.